.my-custom-button {
    background-color: #0073e6; /* Cambia el color de fondo del botón */
    color: white; /* Cambia el color del texto del botón */
    border: none; /* Elimina el borde */
    padding: 10px 20px; /* Ajusta el relleno */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 5px; /* Añade bordes redondeados */
}

.container-reg {
    font-family: Arial, sans-serif;
    display: flex;
    height: calc(100vh - 67px);
}

.image-reg {
    flex: 1;
    background: url('../../../assets/registerc.png') no-repeat center center;
    background-size:cover;
}

.form-wrapper-reg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b0f0;

}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-container input {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.form-container button {
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 20px;
    background-color: #0073e6;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .image-reg {
        display: none;
    }

    .form-wrapper-reg {
        height: 100vh;
        width: 100%;
        background: url('../../../assets/registerc.png') no-repeat center center;
        background-size: cover;
    }
}