.container-detailsC {
    background-color: #00b0f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.content-container-detailsC {
    width: 100%;
    max-width: 900px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table-headerD {
    background-color: #0087d0; /* Cambia este color según tu preferencia */
    color: #ff0000; /* Color del texto */
}