body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.image {
    flex: 1;
    background: url('src/assets/registerc.png') no-repeat center center;
    background-size:cover;
}

.form-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b0f0;

}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-container input {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #0073e6;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .image {
        display: none;
    }

    .form-wrapper {
        height: 100vh;
        width: 100%;
        background: url('src/assets/registerc.png') no-repeat center center;
        background-size: cover;
    }
}