/* Login.css */

.login-container {
    background-image: url('src/assets/loginimage.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 67px);
    background-color: #07AEBA ;
}

.login-form {
    background-color: rgba(255, 255, 255); /* Color de fondo con transparencia */
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
    width: 400px;

}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.button-login {
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
