/* MainPage.css */
.main-page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 67px);
}

.main-content {
    flex: 1;
    position: relative;
    background: url('src/assets/inicio.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinea los botones hacia abajo */
    padding-bottom: 50px; /* Ajusta este valor según lo necesites */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.button-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 100px;
    max-width: 100%;
    margin-bottom: 20px;
}

.register-button {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
    width: 300px;
}

.register-button:hover {
    background-color: #f0f0f0;
}

/* Media query para dispositivos móviles */
@media (max-width: 850px) {
    .main-content {
        background: url('src/assets/inicio2.jpg') no-repeat center center;
    }
    .button-container {
        flex-direction: column;
        align-items: center;
    }
    .register-button {
        margin: 10px 0;
    }
}
